<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.proyect">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PROYECT"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <activity
            android:name=".DoctoresActivity"
            android:exported="false" />

        <activity
            android:name=".PacientesActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleCitaActivity"
            android:exported="false" />

        <activity
            android:name=".DoctorCitasActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorAgendaActivity"
            android:exported="false" />
        <activity
            android:name=".HospitalActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PROYECT">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AuthActivity"
            android:exported="false" />
        <activity
            android:name=".SegundaFor"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MapsActivity"
            android:exported="false" />

        <receiver
            android:name=".RecordatorioReceiver"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCL1UsD2WO1IrgIBykfGCrrEMTJ3I192jg" />

        <activity
            android:name=".CarnetActivity"
            android:exported="false"
            android:label="Carnet Médico" />

    </application>

</manifest>
